 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: var(--text-main);
  background-color: var(--bg-main);
}

a {
  color: var(--link-color);
}

.no-decoration {
  text-decoration: none;
}

.margin-main {
  margin: var(--margin-main);
}

.input {
  font-size: var(--text-size-m);
  background-color: var(--bg-alt);
  color: var(--text-main);
  padding: var(--padding-main);
  margin: var(--margin-main);
  border: none;
}

.input::placeholder {
  color: var(--text-alt);
}
