.button {
  text-transform: uppercase;
  cursor: pointer;
  padding: var(--padding-alt) var(--padding-main);
  border: none;
  font-size: var(--text-size-m);
  border-radius: 10px;
}

.button-success {
  background-color: var(--color-success);
}

.button-error {
  background-color: var(--color-error);
}
