.folder-entry-container {
  margin: var(--margin-alt);
  display: flex;
  justify-content: center;
}

.folder-entry-icon {
  margin: 0 var(--margin-alt);
}

.folder-entry-link {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-entry-download {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-main);
}
