#main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-alt);
  padding: var(--padding-main);
}

#main-header #app-name {
  margin: auto 0;
  font-size: var(--text-size-l);
}
