#container-register {
  margin: var(--margin-main) auto;
}

#register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

#register-form button {
  padding: var(--padding-main);
  margin: var(--margin-main);
}
